<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
		<a th:href="@{/nuevo}" class="btn btn-primary">Nuevo cliente</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
					<th>DIRECCIÓN</th>
					<th>PAIS</th>
					<th>CÓDIGO POSTAL</th>
					<th>CIUDAD</th>
					<th>E-MAIL</th>
                    <th>Herramientas Admin</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customerInfo:${customers}">
                    <td th:text="${customerInfo.id}"></td>
					<td th:text="${customerInfo.firstName}"></td>
                    <td th:text="${customerInfo.lastName}"></td>
					<td th:text="${customerInfo.street}"></td>
					<td th:text="${customerInfo.city}"></td>
					<td th:text="${customerInfo.zipCode}"></td>
					<td th:text="${customerInfo.country}"></td>
					<td th:text="${customerInfo.email}"></td>
					<td>
						<a th:href="@{/editar}+${customerInfo.id}" class="btn btn-warning">Editar</a>
						<a th:onclick="eliminar([[${customerInfo.id}]])" class="btn btn-danger">Eliminar</a>
					</td>
                </tr>
            </tbody>
        </table>
    </div>
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
	<script src="funciones.js"></script>

</body>
</html>