<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Parcel Management System</title>
</head>
<body>
    <main role="main" class="container">
        <div class="starter-template">
            <h1>Welcome to the Parcel Management System</h1>
            <form th:action="@{/deliveries/track}" method="post">
                <label for="deliveryId"></label>
                <input type="text" id="deliveryId" placeholder="Enter delidery ID" name="deliveryId" required>
                <button type="submit">View status</button>
            </form>
            <br>          
            <button type="button" onclick="location.href='@{/login}'">Create delivery</button>
        </div>
    </main>
</body>
</html>
